* {
  box-sizing: border-box;
}

body {
  font-size: 10px;
}

main {
}

.masthead header {
  text-decoration: none;
  color: #fff;
  margin: 0 5px;
  padding: 0;
}

.masthead {
  background: #118BC0;
  height: 55px;
  padding: 45px 20px 0 0;
  margin: 0;
}

header.masthead h1  {
  width: 22px;
  height: 14px;
  background: #fff;
  margin: -37px 10px 14px 10px;
  padding: 15px 15px 9px 6px;
  box-sizing: content-box;
}

header.masthead h2  {
  width: 120px;
  height: 14px;
  background: #118BC0;
  margin: -52px 10px 14px 70px;
  padding: 15px 15px 9px 6px;
  box-sizing: content-box;
  text-align: center;
}

header.masthead a {
  display: block;
  text-decoration: none;
  margin: 0 auto;
  color: #fff;
}

header.masthead h3  {
  width: 77px;
  height: 42px;
  background: #0070A4;
  margin: -71px -18px 0px 70px;
  padding: 15px 15px 9px 6px;
  box-sizing: content-box;
  float: right;
  text-align: center;
}
/*.arrow-box {
  display: block;
  margin: 212px auto 100px auto;
  width: 50px;
  height: 20px;
  border: none;
  background: #fff;
}*/

.main-text,
.sub-text {
  text-align: center;
  color: #fff;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 0;
}

.main-text {
  font-size: 3.15em;
  margin: 0 0 45px;
}

.sub-text {
  padding: 0 72px 0 72px;
  font-size: 1.4em;
  font-weight: lighter;
  margin: 0 auto 30px;
}


#scroll-box1 {
  background: #344051;
  padding: 155px 40px 75px 40px;
  margin: 0 auto;
  overflow: hidden;
}

.button-box {
  height: 50px;
  width: 205px;
  background: #118BC0;
  border: none;
  margin: 0 auto;
  padding: 10px 10px 0 0;
  display: block;
  box-sizing: content-box;
  border: 10px solid #212934;
  text-align: center;
}

.button-box a {
  font-size: 1.5em;
  font-weight: lighter;
  margin: 0 auto;
  text-decoration: none;
  color: #fff;
}


.arrow-box {
  display: block;
  margin: 212px auto 100px auto;
  width: 50px;
  height: 20px;
  border: none;
  background: #fff;
}

.feature {
  height: 43px;
  width: 37px;
  margin: 40px 30px;
  background: white;
  padding: 10px 10px 0 10px;
  display: block;
}


/*div.feature h1 {
  width: 33px;
  height: 33px;
  background: #616E7F;
  margin: 3px -18px -3px -10px;
  padding: 15px 15px 9px 6px;
  box-sizing: content-box;
  float: left;
}

div.feature h2 {
  width: 50px;
  height: 33px;
  background: #616E7F;
  margin: -10px -10px 0 -10px;
  padding: 15px 75px 9px 6px;
  box-sizing: content-box;
  float: right;
}*/

.menu-box:last-child {
  margin: 0px 30px 0 30px;
}

#break-box1{
  height: 190px;
  background: #E6EEF3;
  padding: 25px 0;
}

#scroll-box2 {
  background: #D1D3D7;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  padding: 30px 10px;
}

.mid-box {
  height: 225px;
  margin: 0px 10px 30px 10px;
  background: white;
  padding: 10px 10px 0 10px;
}

.mid-box:last-child {
  margin: -10px 10px;
  padding: 10px 10px 0 10px;
}

div.mid-box h1 {
  width: 40px;
  height: 40px;
  background: #C7D2D8;
  margin: 10px auto 30px;
  padding: 8px 15px 20px 6px;
  box-sizing: content-box;
  float: center;
}

div.mid-box h2 {
  width: 333px;
  height: 25px;
  background: #C7D2D8;
  margin: -10px auto 10px;
  padding: -5px 15px 9px 6px;
  box-sizing: content-box;
  float: center;
}

div.mid-box h3 {
  width: 333px;
  height: 25px;
  background: #C7D2D8;
  margin: 0 auto 10px;
  padding: 15px 15px 9px 6px;
  box-sizing: border-box;
  float: center;
}

#break-box2 {
  height: 190px;
  background: #E6EEF3;
  margin: 0 auto;
  overflow: hidden;
}

.button-box2 {
  height: 40px;
  width: 190px;
  background: #118BC0;
  border: none;
  margin: 110px auto;
  padding: 10px 10px 0 0;
  display: block;
  box-sizing: content-box;
}

.button-box2 a {
  font-size: 1.5em;
  font-weight: lighter;
  margin: 0 auto;
  text-decoration: none;
  color: #fff;
}

footer {
  background: black;
  padding: 17px;
}

nav.extras1,
nav.extras2 {
  margin: 17px 0;
  text-align: center;
}

nav.extras1 a,
nav.extras2 a {
  text-decoration: none;
  color: white;
  padding: 9px;
}

footer.link-box h6  {
  width: 132px;
  height: 25px;
  background: #fff;
  margin: 0 auto;
  text-indent: -30899px;
}
